main *{
    text-align: left;  
    line-height: 30px;
    margin: 0px auto;
    align-items: center;
  }
  main article h1,h2 {
    padding-top: 20px;
    text-align: left;
    color: red;
    
    
  }
  main section p{
    padding-top: 10px;
    padding-bottom: 29px;
    text-align: left;
    color: white;
       
  }
  
  
 main img {
  border-style: outset;
  border-color: red;

 }